.button-outline {
	padding-left: 40px;
	padding-right: 40px;

	height: 60px;
	border-radius: 30px;
	border: 1px solid rgba(255, 255, 255, 0.2);
	background: transparent;
	color: #fff;

	font-size: 14px;
	font-weight: 800;
	letter-spacing: 4px;
	line-height: 60px;
	text-transform: uppercase;

	cursor: pointer;

	transition: .2s ease-in;
	
	&:hover {
		border: rgba(255, 255, 255, 0);
		background-color: rgba(255, 255, 255, 0.2);
	}

	&:focus {
		outline: none;
		background-color: #000;
	}
}