.button-solid {
	padding-left: 40px;
	padding-right: 40px;

	height: 60px;
	border-radius: 30px;
	border: none;
	background: #fff;

	font-size: 14px;
	font-weight: 800;
	letter-spacing: 4px;
	line-height: 60px;
	text-transform: uppercase;

	cursor: pointer;
	transition: .2s ease-in;

	&:hover {
		background-color: #000;
		color: #fff;
	}

	&:focus {
		outline: none;
		background-color: #2f2f2f;
		color: #fff;
	}
}