.portfolio {
	padding-bottom: 120px;
	overflow-x: hidden;
}

.gallery {
	display: flex;
	padding-top: calc(var(--index) * 8);
	overflow-x: hidden;

	@media (max-width: 767.98px) {
		flex-direction: column;
	}

	& > * {
		flex: 1;
		display: flex;
		align-items: center;
		flex-direction: column;
	}

	&__left,
	&__right {
		margin-top: calc(var(--gallery-gap) * 1.75);
	}
}
