.skill {
	transition: transform 0.3s ease;
	will-change: transform;

	&:hover {
		transform: scale(1.06);
	}

	&__content {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 1rem;

		will-change: transform, opacity;
		border: 1px solid #484848;
		border-radius: 8px;

		background-color: #27272776;
		backdrop-filter: blur(15px);
		padding: 30px;
	}

	&__img {
		svg {
			font-size: 3rem;
		}
	}

	&__title {
		font-size: 1.4rem;
	}
}
